@model WebApplicationDemo2.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayCustomer</title>
</head>
<body>
    <div> 
        <dl class="dl-horizontal">
            <dt>
                Customer Id: @Html.DisplayFor(model => model.Id)
            </dt>

            <dd>
                Customer Code: @Html.DisplayFor(model => model.CustomerCode)
            </dd>

            <dd>
                @if (Model.Amount > 100)
                {
                    <p>"This is a priveleged customer" </p>
                }
                else
                {
                    <p>"This is not priveleged customer" </p>
                }
                Model Amount: @Html.DisplayFor(model => model.Amount)
            </dd>

        </dl>
    </div>
</body>
</html>
