@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
</head>
<body>
    <div> 
        This is about us.
        </br>@Html.ActionLink("Go Home", "GoToHome")</br>
       </div>
    
    <a href="GoToHome">Home</a>
    <a href="SeeProduct">See Products</a>
</body>
</html>
