@model WebApplicationDemo2.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div> 
        This is the home page.
        <br/>
        <a href="AboutUs">AboutUs</a>
        <a href="SeeProduct">See Products</a>
    </div>
</body>
</html>
