
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product</title>
</head>
<body>
    <div> 
        This is the products Page.
    </div>
    <a href="GoToHome">Home</a>
    <a href="AboutUs">About Us</a>
</body>
</html>
